@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}
ul{list-style: disc;
	margin: 0 auto;
	}
li {display: list-item;
	list-style: disc;}


body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	background-color: #FFEFD5;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/*ヘッダー関係*/
.header{
	display: flex;
	width: 100%;
	height: 100px;
	background-color: lightgray;
	align-items: center;
}

.title{
	margin-right: auto;
	font-size: 30px;
}

a{
	color: black;
}

nav{
	display: inline-block;
}

.nav-item{
	list-style: none;
	display: inline-block;
	padding: 10px;
}


.slide-img-list{
	display: flex;
}
.slide-img-list-item{
	object-fit: cover;
	width: 250px;
	height: 150px;
}


.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	margin-right: 30px;
}
/*ヘッダー関係*/

/*スクロール関係*/
.swiperContainer {
	position: relative;
}
.swiper {
	max-width: auto;
}
.swiper-wrapper {
	height: auto;
}
.swiper-slide {
	height: auto;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}
.swiperContainer {
	position: relative;
}
.swiper-scrollbar {
	bottom: -20px !important;
	left: 50% !important;
	transform: translateX(-50%);
}
/*スクロール関係*/

#main{
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 10%;
	padding-right: 10%;
}

.text-title{
	text-align: left;
	font-size: 70px;
}

.text-sub-title{
	text-align: left;
	font-size: 50px;
	margin: 5px;
}

.text{
	overflow: hidden;
	text-align: left;
	font-size: 3vh;
	padding: 10px;
}

.text-background-color{
	background-color: #FFC7AF;
}

.text-list{
	display: none;
	margin-left: 80px;
}

.margin{
	margin-top: auto;
}

.left{
	float: left;
}

.text-list li{
	transition: 0.5s;
}

#Address-img1{
	width: 30%;
	height:auto;
	object-fit: cover;
}

#Address-img2{
	display: none;
}

.Address-back{
	background-color: black;
	padding-bottom: 100px; 
	margin-top: 100px;
}

#dshop{
	margin-top: 150px;
}

.map-list-img{
	margin: auto;
}

.section-img{
	width: 50%;
	height:auto;
	object-fit: cover;
	display: block;
}

.text-shop{
	font-size: 20px; 
	text-align: center;
}

.ul-dlist{
	list-style: none;
	width: 25vh;
}


.imgrad{
	border-radius: 50%; 
    width:  15vh;       
    height: 15vh; 
	margin:auto; 
}

.footer{
	display: flex;
	width: 100%;
	height: 100px;
	background-color: darkgray;;
	align-items: center;
	justify-content: center;
}

.foot-list-item{
	list-style: none;
	display: inline-block;
	padding: 10px;
}

.scroll {
	transition: 0.8s ease-in-out;
	transform: translateY(30px);
	opacity: 0;
}

.scroll.on {
	transform: translateY(0);
	opacity: 1.0;
}

@media  screen and (min-width:900px) and(max-width: 1800px){
	section{
		position: relative;
		padding-left: 50px;
		padding-right: 50px;
	}

	.text-title{
		text-align: left;
		font-size: 60px;
	}
	
	.text-sub-title{
		text-align: left;
		font-size: 30px;
	}
	
	.text{
		text-align: left;
		font-size: 25px;
		padding: 15px;
	}

	.section-img{
		width:300px;
		height:200px;
	}
}

@media screen and (max-width: 768px){

	.text-title{
		text-align: left;
		font-size: 40px;
	}
	
	.text-sub-title{
		text-align: left;
		font-size: 25px;
	}
	
	.text{
		text-align: left;
		font-size: 20px;
		padding: 10px;
	}

	.nav-list{
		position: absolute;
		left: 0;
		top: 100px;
		background-color: lightgray;
		height: 260px;
		width: 100%;
		transition: 0.5s;
		transform: translate(0px, 0px);
	}

	.border{
		position: relative;
	}

	.open_menu{
		transition: 0.5s;
		transform: translate(0px, 260px);
	}

	.close_menu{
		transition: 0.5s;
		transform: translate(0px, 0px);
	}

	.nav-item{
		display: list-item;
		font-size: 20px;
	}

	.nav input{
		left: 0;
		width: 75%;
	}

	.nav button{
		right: 0;
		width: 20%;
	}

	.burger{
		display: block;
	}

	.swiperContainer{
		position: relative;
	}
	section{
		position: relative;
		padding-left: 50px;
		padding-right: 50px;
	}

	.section-img{
		width: 100%;
		height: auto;
		align-items: center;
	}

	#dshop{
		display: none;
	}

	#Address-img1{
		display: none;
	}

	#Address-img2{
		display: block;
		height: auto;
	}

	.Address-back{
		background-color: black; 
		margin-bottom: 100px;
		padding-bottom: 0px;
	}

}
